:root {
    --mainfont: #363636;
    --secondfont: #474747;
    --bg-color: #E9E9E9;
    --head-bg-color: #963144;
    --head-ft-color: #E9E9E9;
    --foot-bg-color: #ead7e3;
    --stamp-bg-color: #FFF;
    --deepblue: #0062cc;
}

html {
    background-color: var(--bg-color);
}


body * {
    font-family: manjari, Lato, sans-serif !important;
    overflow: auto;
}

header {
    width: 100%;
    height: 30px;
    position: fixed;
    top: 0;
    left: 0;
    color: var(--head-ft-color);
    background-color: var(--head-bg-color);
    box-shadow: -5px 5px 15px var(--secondfont);
    padding: 20px 10px;
}

#content {
    margin: 100px 0px;
    left: 0;
    width: 100%;
}

h1 {
    color: var(--secondfont);
    text-align: center;
}

div.section {
    border-radius: 5px;
    color: var(--lightgrey);
    padding: 10px 5px;
    margin: 10px 0px;
    background-color: var(--bg-color);
}

#forecast, #calendar {
    text-align: center;
    margin: 10px 30%;
    padding: 5px 5px;
    background-color: var(--stamp-bg-color);
    box-shadow: 0 0 15px 10px var(--stamp-bg-color);
}

label {
    margin: 15px 10px;
}

input[type=date] {
    margin-left: 5px; 
}

input[type=submit] {
    padding: 5px 10px; 
    color: var(--head-ft-color);
    background-color: var(--head-bg-color); 
    border: 1px solid var(--mainfont);
    cursor: pointer;
    border-radius: 10px; 
    transition: background-color 0.2s, color 0.2s;
}

input[type=submit]:hover {
    color: var(--head-ft-color);
    background-color: var(--deepblue);
}

table {
    margin: 10px auto;
    text-align: left;
}

table td, table th {
    padding: 5px 2%;
}

.datecol {
    max-width: 150px !important;
}

.intcolumn {
    text-align: center;
}


footer {
    width: 100%;
    height: 20px;
    position: fixed;
    bottom: 0;
    left: 0;
    color: var(--secondfont);
    background-color: var(--foot-bg-color);
    box-shadow: inset -5px 5px 20px 5px var(--bg-color);
    padding: 20px 10px;
}

@font-face {
  font-family: manjari;
  src: url("../css/fonts/Manjari-Regular.ttf");
}