<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <title>My period buddy</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" type="text/css">
</head>

<body>
<header>
    Hello, welcome to this test page !
</header>

<div id='content'>

    <div class="section">
        <h1>Your next period forecast</h1>
        <div id="forecast">{{forecast}} (in {{distance}} days)</div>
    </div>

    <div class="section">
        <h1>Submit a new period date</h1>
        <form id="calendar" method="POST">
            <label>Start
                <input type="date" name="start_date"/>
            </label>
            <label>End (optional)
                <input type="date" name="end_date"/>
            </label>
            <label>
                <input type="submit" value="submit"/>
            </label>
        </form>
    </div>

    <div class="section">
        <h1>Your period history</h1>
        {{period_table|safe}}
    </div>

</div>


<footer>
    This is a test footer.
</footer>
</body>

</html>